<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamburguesa Clásica</title>
</head>
<body>
    <h1>Hamburguesa clásica</h1>

    <img src="../img/hamburgesa.jpg" class="fotos" alt="hamburguesaFoto" width="500" height="200">

    <div class= "ingredientes">
        <h3>Ingredientes</h3>

        <ul class="listaOrdenada">
            <li>Carne de res molida</li>
            <li>Pan para hamburguesa</li>
            <li>Lechuga, tomate y cebolla</li>
            <li>Mostaza, ketchup y mayonesa</li>
            <li>Sal y pimienta al gusto</li>
            <li>Queso cheddar</li>
        </ul>
    </div>

    <iframe width="500" height="200" src="https://www.youtube.com/embed/jFHlQw3jWks" title="Hamburguesa Clásica" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <div class="preparacion">
        <h3>Preparación</h3>

        <ol class="listaDesordenada">
            <li>Forma las hamburguesas con la carne molida, procurando que sean de un tamaño que se ajuste al pan. Sazona con sal y pimienta al gusto.</li>
            <li>Coloca las hamburguesas en una sartén caliente con un poco de aceite y cocínalas a tu gusto.</li>
            <li>Unos minutos antes de que las hamburguesas estén listas, coloca una rebanada de queso sobre cada una para que se derrita con el calor residual.</li>
            <li>Tuesta los panes en la misma sartén para que se impregnen del sabor de la carne y el tocino.</li>
            <li>Ahora, es el momento de armar tu hamburguesa. Unta el pan con mostaza, ketchup y mayonesa. Luego, coloca la lechuga, el tomate, la cebolla y la hamburguesa con el queso derretido. Finalmente, tapa con la otra mitad del pan.</li>
        </ol>
    </div>
</body>
</html>